<div mat-dialog-content>
    <p>Enter Info</p>
    <mat-form-field>
      <input matInput [(ngModel)]="user.username" placeholder="Username">
    </mat-form-field><br>
    <mat-form-field>
        <input type="password" matInput [(ngModel)]="user.password" placeholder="Password">
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Exit</button>
    <button mat-button (click)="registerUser()">Ok</button>
  </div>
