<!--
LEAFLET HTML CODE GOES HERE
-->
<div style="display: flex; justify-content: flex-start; align-items: center">
  <div>
    <mat-toolbar style="justify-content: space-between;  width: 1050px;">
      <mat-form-field>
        <mat-label>State Selection</mat-label>
        <mat-select #stateSelect (selectionChange)="loadDetailedDataDropdown($event)">
          <mat-option value="08">Colorado</mat-option>
          <mat-option value="09">Connecticut</mat-option>
          <mat-option value="20">Kansas</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-raised-button (click)="this.paused = !this.paused">Pause/Play</button>
        <button mat-raised-button (click)="doUpdate()">Step</button>
      </div>

      <button mat-raised-button [matMenuTriggerFor]="mapMenu" (click)="getUserMaps()">Map Options</button>
      <mat-menu #mapMenu>
        <button mat-menu-item (click)="newMap()">New</button>
        <button mat-menu-item (click)="saveMap()">Save</button>
        <button mat-menu-item [matMenuTriggerFor]="load">Load</button>
        <button mat-menu-item [matMenuTriggerFor]="delete">Delete</button>
      </mat-menu>

      <mat-menu #load>
        <button mat-menu-item (click)="loadMap(map.name)" *ngFor="let map of mapList">{{map.name}}</button>
      </mat-menu>

      <mat-menu #delete>
        <button mat-menu-item (click)="deleteMap(map.name)" *ngFor="let map of mapList">{{map.name}}</button>
      </mat-menu>

      <button mat-raised-button (click)="toggleOverlay()">Original Districts</button>

      <button mat-raised-button (click)="resetView(stateSelect)">Reset View</button>
    </mat-toolbar>

    <div id="mapid" style="width: 1050px; height: 700px;"
         leaflet
         [leafletOptions] = "options"
         (leafletMapReady)="onMapReady($event)"
         (leafletMapZoomEnd)="loadDetailedDataZoom($event)">
      <div [leafletLayer]="statesData"></div>
    </div>
  </div>

  <div *ngIf="!(dataSource.length==0)">
    <table mat-table #table [dataSource]="dataSource" style="width: 550px;">

      <ng-container matColumnDef="run">
        <th mat-header-cell *matHeaderCellDef>Run No.</th>
        <td mat-cell *matCellDef="let batch"> {{batch.run}} </td>
      </ng-container>

      <ng-container matColumnDef="democratic">
        <th mat-header-cell *matHeaderCellDef>Dems</th>
        <td mat-cell *matCellDef="let batch"> {{batch.democratic}} </td>
      </ng-container>

      <ng-container matColumnDef="republican">
        <th mat-header-cell *matHeaderCellDef>GOP</th>
        <td mat-cell *matCellDef="let batch"> {{batch.republican}} </td>
      </ng-container>

      <ng-container matColumnDef="objectiveFunctionValues">
        <th mat-header-cell *matHeaderCellDef>Obj Func</th>
        <td mat-cell *matCellDef="let batch"> {{batch.objectiveFunctionValues.toPrecision(4)}} </td>
      </ng-container>

      <ng-container matColumnDef="PolsbyPopper">
        <th mat-header-cell *matHeaderCellDef>Polsby</th>
        <td mat-cell *matCellDef="let batch"> {{batch.compactnessPolsbyPoppper.toPrecision(4)}} </td>
      </ng-container>

      <ng-container matColumnDef="Schwartzberg">
        <th mat-header-cell *matHeaderCellDef>Schwartz</th>
        <td mat-cell *matCellDef="let batch"> {{batch.compactnessSchwartzberg.toPrecision(4)}} </td>
      </ng-container>

      <ng-container matColumnDef="equalPopulation">
        <th mat-header-cell *matHeaderCellDef>Equal Pop</th>
        <td mat-cell *matCellDef="let batch"> {{batch.equalPopulation.toPrecision(4)}} </td>
      </ng-container>

      <<ng-container matColumnDef="efficiencyGap">
        <th mat-header-cell *matHeaderCellDef>Eff Gap</th>
        <td mat-cell *matCellDef="let batch"> {{batch.efficiencyGap.toPrecision(4)}} </td>
      </ng-container>

      <<ng-container matColumnDef="meanMedianDifference1">
      <th mat-header-cell *matHeaderCellDef>D: MM Diff</th>
      <td mat-cell *matCellDef="let batch"> {{batch.meanMedianDifference[1].toPrecision(4)}} </td>
      </ng-container>

      <<ng-container matColumnDef="meanMedianDifference2">
      <th mat-header-cell *matHeaderCellDef>R: MM Diff</th>
      <td mat-cell *matCellDef="let batch"> {{batch.meanMedianDifference[0].toPrecision(4)}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="loadMap(row.mapId)"></tr>
    </table>

  </div>
</div>

<!--
<table mat-table width="100%">
  <tr>
    <th>Test</th> <td>Test Cell</td>
  </tr>
</table>
-->

