mat-form-field {
  margin-left: 10px;
  margin-right: 10px;
}
button {
  margin-left: 10px;
  margin-right: 10px;
}

mat-toolbar {
  height: 80px;
}

h1 {
  margin-left: 70px;
  margin-right: 85px;
}
