<mat-toolbar style="border-bottom: 1px solid grey">
  <h1 class="mat-display-1">District Generator</h1>
  <div class="form-group" *ngIf="!authenticated()">
    <form role="form" (submit)="login()">
      <mat-form-field>
        <input matInput type="text"
               placeholder="Username" [formControl]="username" />
        <mat-error *ngIf="username.invalid"> {{getUserError()}}  </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password"
               placeholder="Password" [formControl]="password" />
        <mat-error *ngIf="password.invalid"> {{getPasswordError()}} </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" (click)="login()" class="btn btn-primary">Login</button>
      <button mat-raised-button (click)="openDialog()" class="btn btn-primary">Register</button>
    </form>
  </div>
  <div *ngIf="authenticated()">
    <form role="form" (submit)="logout()">
      <button mat-raised-button type="submit" class="btn btn-primary">Logout</button>
      <button mat-raised-button (click)="openDialog()" class="btn btn-primary">Register</button>
    </form>
  </div>
  <span style="flex: 1 1 auto;"></span>

  <button mat-raised-button [matMenuTriggerFor]="userMenu">User Management</button>
  <mat-menu #userMenu>
    <button mat-menu-item>Add</button>
    <button mat-menu-item>Update</button>
    <button mat-menu-item>Delete</button>
  </mat-menu>

</mat-toolbar>
