
<mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" opened style="width: 320px;">
    <mat-tab-group>
      <mat-tab label="Single">
        <div>
          <h2 class="mat-title">District Options</h2>
          <mat-form-field>
            <mat-label>Desired Districts: {{algorithmWeight.desiredDistricts}}</mat-label>
            <input matInput type="number" min="2" max="21" placeholder="Desired Districts: " [(ngModel)]="algorithmWeight.desiredDistricts">
          </mat-form-field>
          <mat-divider></mat-divider>
          <p class="mat-body-strong"><mat-slide-toggle labelPosition="before" [(ngModel)]="this.app.iteration">Update per iteration: </mat-slide-toggle></p>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Equal Population: {{algorithmWeight.equalPopulation}}%</p>
          <mat-slider thumbLabel [(ngModel)]="algorithmWeight.equalPopulation"></mat-slider>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Efficiency Gap: {{algorithmWeight.efficiencyGap}}%</p>
          <mat-slider thumbLabel [(ngModel)]="algorithmWeight.efficiencyGap"></mat-slider>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Seats to Votes: {{algorithmWeight.seatsToVotes}}%</p>
          <mat-slider thumbLabel [(ngModel)]="algorithmWeight.seatsToVotes"></mat-slider>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Mean Median Difference: {{algorithmWeight.meanMedianDifference}}%</p>
          <mat-slider thumbLabel [(ngModel)]="algorithmWeight.meanMedianDifference"></mat-slider><br>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Graph Compactness: {{algorithmWeight.compactness}}%</p>
          <mat-slider thumbLabel [(ngModel)]="algorithmWeight.compactness"></mat-slider>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Schwartzberg: {{algorithmWeight.schwartzberg}}%</p>
          <mat-slider thumbLabel [(ngModel)]="algorithmWeight.schwartzberg"></mat-slider><br>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Polbsy Popper: {{algorithmWeight.polbsyPopper}}%</p>
          <mat-slider thumbLabel [(ngModel)]="algorithmWeight.polbsyPopper"></mat-slider><br>
          <mat-divider></mat-divider>
          <div *ngIf="this.app.authenticated && this.app.status!=1 && this.app.status!=3">
            <button mat-raised-button (click)="startAlgorithm()">Generate</button>
          </div>
          <div *ngIf="!this.app.authenticated">
            <button mat-raised-button disabled>Generate</button>
          </div>
            <mat-spinner *ngIf="this.app.status==1 || this.app.status==3" style="margin: 0 auto;"></mat-spinner>
        </div>
      </mat-tab>

      <mat-tab label="Batch">
        <div>
          <h2 class="mat-title">District Options</h2>
          <p>
            <mat-form-field>
              <mat-label>Number of Runs: {{batchMinWeight.iterations}}</mat-label>
              <input matInput type="number" min="2" placeholder="Number of Runs: " [(ngModel)]="batchMinWeight.iterations">
            </mat-form-field>
          </p>
          <mat-divider></mat-divider>
          <p>
            <mat-form-field>
              <mat-label>Desired Districts: {{batchMinWeight.desiredDistricts}}</mat-label>
              <input matInput type="number" min="2" max="21" placeholder="Desired Districts: " [(ngModel)]="batchMinWeight.desiredDistricts">
            </mat-form-field>
          </p>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Equal Population: {{batchMinWeight.equalPopulation}}% to {{batchMaxWeight.equalPopulation}}%</p>
          <p class="mat-body-strong">Min: <mat-slider thumbLabel (change)="adjustMaxSlider()" [(ngModel)]="batchMinWeight.equalPopulation"></mat-slider></p>
          <p class="mat-body-strong">Max: <mat-slider thumbLabel (change)="adjustMinSlider()" [(ngModel)]="batchMaxWeight.equalPopulation"></mat-slider></p>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Efficiency Gap: {{batchMinWeight.efficiencyGap}}% to {{batchMaxWeight.efficiencyGap}}%</p>
          <p class="mat-body-strong">Min: <mat-slider thumbLabel (change)="adjustMaxSlider()" [(ngModel)]="batchMinWeight.efficiencyGap"></mat-slider></p>
          <p class="mat-body-strong">Max: <mat-slider thumbLabel (change)="adjustMinSlider()" [(ngModel)]="batchMaxWeight.efficiencyGap"></mat-slider></p>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Seats to Votes: {{batchMinWeight.seatsToVotes}}% to {{batchMaxWeight.seatsToVotes}}%</p>
          <p class="mat-body-strong">Min: <mat-slider thumbLabel (change)="adjustMaxSlider()" [(ngModel)]="batchMinWeight.seatsToVotes"></mat-slider></p>
          <p class="mat-body-strong">Max: <mat-slider thumbLabel (change)="adjustMinSlider()" [(ngModel)]="batchMaxWeight.seatsToVotes"></mat-slider></p>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Mean Median Difference: {{batchMinWeight.meanMedianDifference}}% to {{batchMaxWeight.meanMedianDifference}}%</p>
          <p class="mat-body-strong">Min: <mat-slider thumbLabel (change)="adjustMaxSlider()" [(ngModel)]="batchMinWeight.meanMedianDifference"></mat-slider></p>
          <p class="mat-body-strong">Max: <mat-slider thumbLabel (change)="adjustMinSlider()" [(ngModel)]="batchMaxWeight.meanMedianDifference"></mat-slider></p>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Graph Compactness: {{batchMinWeight.compactness}}% to {{batchMaxWeight.compactness}}%</p>
          <p class="mat-body-strong">Min: <mat-slider thumbLabel (change)="adjustMaxSlider()" [(ngModel)]="batchMinWeight.compactness"></mat-slider></p>
          <p class="mat-body-strong">Max: <mat-slider thumbLabel (change)="adjustMinSlider()" [(ngModel)]="batchMaxWeight.compactness"></mat-slider></p>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Schwartzberg: {{batchMinWeight.schwartzberg}}% to {{batchMaxWeight.schwartzberg}}%</p>
          <p class="mat-body-strong">Min: <mat-slider thumbLabel (change)="adjustMaxSlider()" [(ngModel)]="batchMinWeight.schwartzberg"></mat-slider></p>
          <p class="mat-body-strong">Max: <mat-slider thumbLabel (change)="adjustMinSlider()" [(ngModel)]="batchMaxWeight.schwartzberg"></mat-slider></p>
          <mat-divider></mat-divider>
          <p class="mat-body-strong">Polbsy Popper: {{batchMinWeight.polbsyPopper}}% to {{batchMaxWeight.polbsyPopper}}%</p>
          <p class="mat-body-strong">Min: <mat-slider thumbLabel (change)="adjustMaxSlider()" [(ngModel)]="batchMinWeight.polbsyPopper"></mat-slider></p>
          <p class="mat-body-strong">Max: <mat-slider thumbLabel (change)="adjustMinSlider()" [(ngModel)]="batchMaxWeight.polbsyPopper"></mat-slider></p>
          <mat-divider></mat-divider>
          <div *ngIf="this.app.authenticated && this.app.status!=2">
            <button mat-raised-button (click)="startBatch()">Generate</button>
          </div>
          <div *ngIf="!this.app.authenticated">
            <button mat-raised-button disabled>Generate</button>
          </div>
        </div>
        <mat-spinner *ngIf="this.app.status==2" style="margin: 0 auto;"></mat-spinner>
      </mat-tab>

    </mat-tab-group>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-leaflet></app-leaflet>
  </mat-sidenav-content>

</mat-sidenav-container>

