div {
  text-align: center;
  max-width:315px;
}
button {
  margin-top: 10px;
}
mat-slider {
  width: 75%;
}
mat-tab-group{
  width:350px;
}
/*mat-sidenav{*/
/*  width:350px;*/
/*}*/
mat-sidenav-container{
  height:1200px;
}
