/* You can add global styles to this file, and also import other style files */

/*html, body { height: auto; }*/

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  overflow: auto;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
